.banner {
    background-color: #45595B; /* Background color */
    margin-top: 40px; /* Adjust top margin */
    margin-bottom: 40px; /* Adjust bottom margin */
    padding: 20px; /* Add padding */
    color: #ffffff; /* Text color */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
}

.banner h1.display-3 {
    font-size: 2.5em; /* Font size for h1 */
    margin-bottom: 20px; /* Margin below h1 */
}

.banner p.display-3 {
    font-size: 2em; /* Font size for p */
    margin-bottom: 20px; /* Margin below p */
}

.banner p {
    font-size: 1em; /* Font size for p */
}

.banner-btn {
    background-color: #81C408; /* Button background color */
    color: #e1e1e1; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border-radius: 30px; /* Rounded button */
    transition: background-color 0.3s ease; /* Smooth transition */
    display: inline-block; /* Keep the button inline */
    margin-top: 20px; /* Space above the button */
}

.banner-btn:hover {
    background-color: #FFB524; /* Button background color on hover */
    color: #fff; /* Button text color on hover */
}

.display-3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFB524;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .banner {
        padding: 10px; /* Reduce padding */
    }

    .banner h1.display-3 {
        font-size: 1.5em; /* Reduce font size for mobile */
    }

    .banner p.display-3 {
        font-size: 1.2em; /* Reduce font size for mobile */
    }

    .banner p {
        font-size: 0.9em; /* Reduce font size for mobile */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .banner {
        padding: 15px; /* Adjust padding for tablets */
    }

    .banner h1.display-3 {
        font-size: 2em; /* Adjust font size for tablets */
    }

    .banner p.display-3 {
        font-size: 1.5em; /* Adjust font size for tablets */
    }

    .banner p {
        font-size: 1em; /* Adjust font size for tablets */
    }
}

@media (min-width: 1025px) {
    .banner {
        padding: 20px; /* Default padding for laptops */
    }

    .banner h1.display-3 {
        font-size: 2.5em; /* Default font size for laptops */
    }

    .banner p.display-3 {
        font-size: 2em; /* Default font size for laptops */
    }

    .banner p {
        font-size: 1em; /* Default font size for laptops */
    }
}
