.footer {
    background-color: #45595B; /* Adjust as needed */
    color: #ecf0f1; /* Adjust as needed */
}

.footer .text {
    color: #81C408; /* Adjust as needed */
}

.footer .btn {
    background-color: #81C408; /* Adjust as needed */
    color: #fff; /* Adjust as needed */
}

.footer .btn:hover {
    background-color: #FFB524; /* Adjust as needed */
}

.footer .footer-divider {
    border-color: #FFB524;
}

.footer .btn-link {
    color:rgba(255, 255, 255, .5);; /* Adjust as needed */
    text-decoration: none;
}

.footer .btn-link:hover {
    color: #FFB524; /* Adjust as needed */
    text-decoration: underline;
}

.footer .footer-icon-link {
    color: rgba(255, 255, 255, .5); /* Adjust as needed */
    text-decoration: none;
}

.footer .footer-icon-link:hover {
    color: #f39c12; /* Adjust as needed */
}

.footer h4 {
    color: #ecf0f1; /* Adjust as needed */
}
.h5 {
    color: #f39c12; /* Adjust as needed */
}
.h1 {
    color: #81C408; /* Adjust as needed */
}



.footer p span {
    font-weight: bold;
    color: #ffffffa8;
}

.footer p{
    color: rgba(255, 255, 255, .5);;
}

/* footer.css */
footer .container p {
    font-size: 14px;
    color: #ccc;  /* Light grey color for the text */
}
